.comment-container{
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 20px auto;
    row-gap: 40px;
    border: 2px #72b73c solid ;
    padding: 30px;
    border-radius: 20px;
}
.userinfo{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.info{
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.info img{
  border-radius: 100%;
  width: 40px;
}
.com-content{
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 10px;
}
.comment-filling{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.btn{
    display: flex;
    align-self: center;
    justify-content: center;
    background-image: linear-gradient(aqua, lightgreen);
    padding: 18px 30px 18px 30px;
    border-radius: 5px;
    border: none;
    width: 150px;
    /* font-weight: bold; */
}
.comment-filling input{
    background-color: whitesmoke;
    outline: none;
    border: none;
    padding: 10px;
}
.social-comment{
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 0 auto;
  row-gap: 40px;
  border: 2px #72b73c solid ;
  padding: 30px;
  border-radius: 20px;
  /* height: 150vh; */
  margin-top: 40px;
}
.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 0.3rem;
    --stroke: #666;
    --fill: #ffc73a;
  }
  
  .rating input {
    appearance: unset;
  }
  
  .rating label {
    cursor: pointer;
  }
  
  .rating svg {
    width: 2rem;
    height: 2rem;
    overflow: visible;
    fill: transparent;
    stroke: var(--stroke);
    stroke-linejoin: bevel;
    stroke-dasharray: 12;
    animation: idle 4s linear infinite;
    transition: stroke 0.2s, fill 0.5s;
  }
  
  @keyframes idle {
    from {
      stroke-dashoffset: 24;
    }
  }
  
  .rating label:hover svg {
    stroke: var(--fill);
  }
  
  .rating input:checked ~ label svg {
    transition: 0s;
    animation: idle 4s linear infinite, yippee 0.75s backwards;
    fill: var(--fill);
    stroke: var(--fill);
    stroke-opacity: 0;
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
  }
  
  @keyframes yippee {
    0% {
      transform: scale(1);
      fill: var(--fill);
      fill-opacity: 0;
      stroke-opacity: 1;
      stroke: var(--stroke);
      stroke-dasharray: 10;
      stroke-width: 1px;
      stroke-linejoin: bevel;
    }
  
    30% {
      transform: scale(0);
      fill: var(--fill);
      fill-opacity: 0;
      stroke-opacity: 1;
      stroke: var(--stroke);
      stroke-dasharray: 10;
      stroke-width: 1px;
      stroke-linejoin: bevel;
    }
  
    30.1% {
      stroke: var(--fill);
      stroke-dasharray: 0;
      stroke-linejoin: miter;
      stroke-width: 8px;
    }
  
    60% {
      transform: scale(1.2);
      fill: var(--fill);
    }
  }
  