*{
    box-sizing: border-box;
}
html, body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll; /* Hide scrollbars */
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Navbar */
.nav {
    min-height: 42px;
    background-color: #72b73c;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
}

.nav-list {
    padding: 0;
    margin: 16 auto;
}
.nav-scroll{
    width: 500px;
    color: whitesmoke;
    padding-top: 12px;
}
.nav-item {
    color: whitesmoke;
    list-style: none;
    margin: 0 8px;
    display: inline-block;
}
.nav-item a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 14px;
}
.nav-item :hover{
    color: black;
    font-weight: 500;
}
/* Title */
.title{
    background-color: gray;
    width: 100vw;
    height: 60vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title__head{
    text-transform: capitalize;
}
.title__info{
    font-size: 18px;
}
/* Content */
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content1{
    color: gray;
    width: 700px;
    line-height: 25px;
    font-size: 16px;
    margin-top: 40px;
}
.content__img{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.content__intro{
    border-bottom: 1px solid #72b73c;
}
.content__img img{
    width:300px;
    height: 300px;
    margin: 0 auto;
}
.content__des{
    width: 20vw;
    margin: 0 auto;
}
.content__quote{
    margin-left: 550px;
    font-size: 18px;
}
/* Linking */
.link__img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: auto 0;
    margin-right: 4px;
}
.link{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.link__content{
    display: flex;
    border-bottom: 3px solid #72b73c;
    padding: 4px;
}
.link__des{
    line-height: 10px;
    margin: auto 0;
}
.link__content:hover{
    box-shadow: 5px 10px 8px #888888;
    border: none;
}
/* Footer */
.footer{
    margin-top: 40px;
    border-top: 1px solid green;
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    padding-top: 20px;
}
.footer__form{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
/* .info{
    outline: none;
    border: 1px solid green;
} */
.footer__btn{
    display: flex;
    justify-self: center;
    align-self: flex-end;
}
/* Copyright */
.copyright{
    background-color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}